{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

 <div class="container">
        <h1>Список заказов</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер стола</th>
                <th>Блюда</th>
                <th>Общая стоимость</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.table_number }}</td>
                    <td>{{ order.items }}</td>
                    <td>{{ order.total_price }}</td>
                    <td>{{ order.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}